<footer class="bg-black py-4">

    <div class="flex justify-around  items-center">
        
        <div class="">
            <a href="#" title="">
                <img src="logo.png" class="h-36 w-40" alt="Logo">
            </a>
        </div>

        <!-- Footer Links Section -->
        <div class="">
            <h3 class="text-3xl font-semibold text-white mb-6">Quick Links</h3>
            <div class="flex justify-center gap-10">
                <a routerLink="" class="text-lg text-gray-400 hover:text-green-500 transition duration-300">Home</a>
                <a  class="text-lg text-gray-400 hover:text-green-500 transition duration-300">About</a>
                <a routerLink="contact" class="text-lg text-gray-400 hover:text-green-500 transition duration-300">Contact</a>
                <a  class="text-lg text-gray-400 hover:text-green-500 transition duration-300">Privacy Policy</a>
            </div>
        </div>

        <div class="">
            <h3 class="text-3xl font-semibold text-white mb-6">Follow Us</h3>
            <!-- Social Icons Section -->
            <div class="flex justify-center gap-8">
                <a href="https://facebook.com" target="_blank" class="text-gray-400 hover:text-green-500 text-lg transition duration-300">
                    <i class="fab fa-facebook-f">Facebook</i>
                </a>
                <a href="https://instagram.com" target="_blank" class="text-gray-400 hover:text-green-500 text-lg transition duration-300">
                    <i class="fab fa-instagram">Instagram</i>
                </a>
                <a href="https://twitter.com" target="_blank" class="text-gray-400 hover:text-green-500 text-lg transition duration-300">
                    <i class="fab fa-twitter">Twitter</i>
                </a>
            </div>
        </div>
</div>
        <!-- Copyright Section -->
        <div class="border-t border-gray-700 pt-4">
            <p class="text-sm text-gray-500 text-center">© 2025 Delicious Recipes. All rights reserved.</p>
        </div>

</footer>
